.btn-social{
 display: inline-flex;
  min-width: 45px;
  min-height: 45px;
  margin: 10px;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  flex-shrink: 0;
  transition: all .3s;
}


.btn-social-circle {
  border-radius: 50%;
}




@each $color, $value in $social-btn-colors {
  .btn-#{$color} {
    @include social-btn-variant($value, $color);
  }
}


@each $color, $value in $social-btn-colors {
  .btn-outline-#{$color} {
    @include social-btn-outline-variant($value, $color);
  }
}



