// scss-docs-start theme-colors-map
$social-btn-colors: (
  "facebook": #3b5998,
  "google": #db3236,
  "twitter": #1da1f2,
  "instagram": #405de6,
) !default;

$social-btn-width: 42px defualt;
$social-btn-height: 42px defualt;
$social-btn-font-size: 1rem defualt;
$social-btn-font-weight: 400 defualt;
$social-btn-border-width: 1px defualt;
$social-btn-border-radius: 0.25rem defualt;
$social-btn-line-height: 42px defualt;
