@mixin bg-variant($bg, $color) {
  .bg-#{$color} {
    @include gradient-bg($bg);
    color: white;
    .title {
      font-size: 1.2rem;
      font-weight: 500;
    }

    a {
      color: white;
    }

    a:hover {
      color: white;
    }
  }
}
